table{counter-reset:section;}

.product
{
    /*margin-bottom: 40px !important;
    min-height: 150px;
    position: relative;
    padding-bottom: 20px;*/
    padding-top: 10px;
}

body.modal-open {
   overflow: hidden;
}

.product:hover{
-webkit-box-shadow: 0px 16px 50px -10px rgba(0,0,0,1);
-moz-box-shadow: 0px 16px 50px -10px rgba(0,0,0,1);
box-shadow: 0px 16px 50px -10px rgba(0,0,0,1);
}

h4,h6{
  color: #000 !important;
}

.pdng{
  padding-top:20px !important;
}

.popover{
  max-width: 100% !important;
}

.navbar {
  margin-bottom:0px !important;
}

.center{
width: 150px !important;;
margin: 40px auto !important;;
}

.navbar .nav > li > a {
    float: none;
    text-decoration: none;
    color: #FFF;
}

.count:before{
counter-increment:section;
content:counter(section);
}

.btn-number{
    padding: 8px 12px !important;
    height: 34px !important;
}

.btn-delete{
  padding: 8px 12px !important;
  height: 34px !important;
}

.row{
  display: block !important;
}

.fade-scale {
  transform: scale(0);
  opacity: 0;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  transition: all .25s linear;
}

.fade-scale.in {
  opacity: 1;
  transform: scale(1);
}

#printModal .modal-dialog {
  overflow-y: initial !important;
}

#printModal .modal-body {
  overflow-y: auto !important;
  height: 400px !important;;
}

/* Nav Tabs */

a:hover,a:focus{
    outline: none !important;;
    text-decoration: none !important;;
}

.tab{ text-align: center; }

.tab .nav-tabs{
    display: inline-block;
    border-bottom: none;
    position: relative;
}

.tab .nav-tabs li{
    margin-bottom: 0;
}

.tab .nav-tabs li a{
    display: block;
    padding: 20px;
    border: none;
    border-radius: 0;
    font-weight: 700;
    color: #444;
    margin-right: 0;
    text-align: center;
    z-index: 1;
    transition: all 0.3s ease 0s;
}

@media only screen and (min-width : 768px) {
	.tab .nav-tabs li a{
		font-size: 12px;
	}
}

@media only screen and (min-width : 992px) {
	.tab .nav-tabs li a{
		font-size: 17px;
	}
}

@media only screen and (min-width : 1200px) {
	.tab .nav-tabs li a{
		font-size: 17px;
	}
}

.tab .nav-tabs li a i{
    display: block;
    font-size: 40px;
    color: #00a6ff;
    margin-bottom: 15px;
}
.tab .nav-tabs li.active a,
.tab .nav-tabs li a:hover{
    border: none !important;
    background: transparent;
}
.tab .nav-tabs li a:before,
.tab .nav-tabs li a:after{
    content: "";
    width: 0;
    border-top: 3px solid #00a6ff;
    position: absolute;
    bottom: -1px;
    left: 0;
    transition: all 0.3s ease 0s;
}
.tab .nav-tabs li a:after{
    left: auto;
    right: 0;
}
.tab .nav-tabs li.active a:before,
.tab .nav-tabs li a:hover:before,
.tab .nav-tabs li.active a:after,
.tab .nav-tabs li a:hover:after{
    width: 50%;
}
.tab .tab-content{
    padding: 20px;
    margin-top: -5px;
    border-radius: 0 0 5px 5px;
    font-size: 15px;
    color: #757575;
    line-height: 30px;
}
.tab .tab-content h3{
    font-size: 24px;
    margin-top: 0;
}
@media only screen and (max-width: 479px){
    .tab .nav-tabs li{
        width: 100%;
        text-align: center;
        margin-bottom: 5px;
    }
    .tab .nav-tabs li a,
    .tab .nav-tabs li a:hover{ border-bottom: 1px solid #dfdfdf; }
    .tab .tab-content{ border-top: none; }
}
.order a:link, a:visited {
    color: white;
	display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    background-color: #00a6ff;
    border-radius: 25px;
    font-size: 16px;
    line-height: 1.2;
    transition: all 0.4s;
	margin-left: 0px !important;
}
.order a:hover, a:active {
    background-color: #1E90FF;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #1a1a1a;
  color: white;
  text-align: right;
  padding: 10px 15px 0 0;
}