
#toastem{
  position: fixed;
  z-index: 1051;
  top: 12px;
  right: 12px;
}
.notification{
  display: block;
  position: relative;
  overflow: hidden;
  margin-top: 10px;
  margin-right: 10px;
  padding: 20px;
  width: 300px;
  border-radius: 3px;
  color: white;
  right: -400px;
  /*box-shadow: 0px 1px 5px #bbbbbb;*/
}

.normal{
  background: #3c3b3b;
}
.success{
  background: #44be75;
}
.error{
  background: #c33c3c;
}
